body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
   
}

.background-grey{
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    background-color:#E8E8E8;
}

.background-white{
    background-color: #F5F5F5;
}

.container-nav {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 1vw;
    margin-bottom: 3vw;
}
  

.item-nav-left {
    font-size: 25px;
    color: white;
}
  
.item-nav-right {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.item-nav-right a:hover  {
    text-decoration: none;
    color:#7FFFD4;
}

.container-Maps {
    width: 1200px;
    height: 400px;
    background-image: url("img-flags/mapa.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    margin: 2em; 
    padding-top: 4em;
    padding-bottom: 4em;   
}

.container-Maps .text-center{
    width: 80%;
    height: auto;
    margin: auto;
    align-items: center;
    font-size: 2em;    
    text-align: center;
}

.text-center
{
    text-align: center!important;
}
  


.container {       
    margin: auto;
    height: auto;
    width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1140px;
    box-sizing: border-box;
   
}

#mainSection {
    padding-top: 5rem;
    padding-bottom: 5rem; 
  }


.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    justify-content: space-around;  
}

.column-text{    
    max-width: 45%;
    text-align: justify;
}





/* .countries {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
} */

  

  
.flags-list {
    width: 40%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
}

.flags {
    width: 40%;
    height: auto;
    margin: auto;
    margin-right: 0px;
    margin-left: 0px;
    border: 5px outset #E0FFFF;
    cursor: pointer;
}





 
  
  .text-uppercase {
    text-transform: uppercase;
  } 
   





.container-btn {
    width: 60%;
    color: blue;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

.tab {
    color: #191970;
    background-color: #F5F5F5;
    border-radius: 7%;
    border-bottom: none;
    border: none;
    padding: 15px;
    width: 100px;
    font-size: 12px;
    text-align: center;
}

.container-btn li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    padding-bottom: 0px;
}

.nav-btn {
   border-bottom: 1 px solid blue;
   width: 70%;
   height: auto
}



.container-tab {
    width: 200px;
    margin: 0 auto;
    display: block;
}
/* 
.container-mexico {
    background-color: white;
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: 300px;
    border-bottom: 1px solid black;
}

.container-tab-mex {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.container-chile {
    background-color: white;
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: 300px;
    border-bottom: 1px solid black;
}

.container-tab-cl {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.container-peru {
    background-color: white;
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: 300px;
    border-bottom: 1px solid black;
}
.container-tab-pe {
    width: 200px;
    margin: 0 auto;
    display: block;
} */

.flags-sections {
    width: 150px;
    height: 120px;
    border: 1px solid #20B2AA;
    
}

